<div class="col-lg-12 reader-general-container">
  <div class="col-lg-3 reader-sidebar">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a my-label category="defaultCategories[0]" class="category-link"><i class="glyphicon glyphicon-star" style="margin-right: 10px;"></i>Starred items<span class="badge pull-right">1,118</span></a></li>
            <li><a my-label category="defaultCategories[1]" class="category-link"><i class="glyphicon glyphicon-th-list" style="margin-right: 10px;"></i>All items<span class="badge pull-right">1,118</span></a></li>
            <li ng-repeat="category in categories">
              <a my-label category="category" class="category-link" ng-click="getFeeds(category)">{{category.name}}<span class="badge pull-right">1,118</span></a>
              <a class="feed-link" my-feed-link feed="feed" ng-repeat="feed in feeds" ng-if="category == selectedCategory"><p>{{feed.name}}</p></a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <button type="button" class="btn btn-warning btn-block" ng-click="openNewCategoryModal()">Define new Category<i class="glyphicon glyphicon-tag" style="margin-left: 10px;"></i></button>
    <button type="button" class="btn btn-warning btn-block" ng-click="openNewFeedModal()">Add new Feed<i class="glyphicon glyphicon-plus" style="margin-left: 10px;"></i></button>
  </div>
  <div class="col-lg-9 content-layout">
    <h2 ng-if="!selectedFeed.name">{{selectedCategory.name}}</h2>
    <h2 ng-if="selectedFeed.name">{{selectedCategory.name}} - {{selectedFeed.name}}</h2>
    <hr>
    <button class="btn btn-warning pull-left">Refresh<i class="glyphicon glyphicon-refresh" style="margin-left: 10px;"></i></button>
    <div class="col-lg-12 article-list">
      <p class="no-article" ng-if="articles.length == 0">No entries</p>

      <uib-accordion ng-if="articles.length > 0">
        <div class="col-lg-12 article-layout" ng-repeat="article in articles">
          <div class="col-lg-10" style="padding-left: 0px">
            <div uib-accordion-group class="panel-default" is-open="article.open">
              <div>
                <uib-accordion-heading>
                  {{article.title}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': article.open, 'glyphicon-chevron-right': !article.open}"></i>
                </uib-accordion-heading>
                {{article.content}}
              </div>
            </div>
          </div>
          <div class="col-lg-2" style="padding-right: 0px">
            <button type="button" class="btn btn-warning col-lg-12" ng-click="toggleStarredArticle(article)" ng-if="!article.starred">Star Article<i class="glyphicon glyphicon-star" style="margin-left: 10px;"></i></button>
            <button type="button" class="btn btn-danger col-lg-12" ng-click="toggleStarredArticle(article)" ng-if="article.starred">Unstar Article<i class="glyphicon glyphicon-ban-circle" style="margin-left: 10px;"></i></button>
          </div>
        </div>
      </uib-accordion>

    </div>
  </div>
</div>

<script type="text/ng-template" id="newCategoryModal.html">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Define your new Category</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form ng-submit="addCategory()">
      <div class="form-group">
        <label for="category-name" class="control-label">Name:</label>
        <input type="text" class="form-control" id="category-name" ng-model="newItem.name">
      </div>

    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="$scope.cancelModal()">Cancel</button>
      <button class="btn btn-warning" type="button" ng-click="$scope.createItem(newItem)">Create</button>
  </div>
</script>

<script type="text/ng-template" id="newFeedModal.html">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Define a new Feed</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form ng-submit="addFeed()">
      <div class="form-group">
        <label for="feed-name" class="control-label">Name:</label>
        <input type="text" class="form-control" id="feed-name" ng-model="newItem.name">
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="$scope.cancelModal()">Cancel</button>
      <button class="btn btn-warning" type="button" ng-click="$scope.createItem(newItem)">Create</button>
  </div>
</script>
